[submodule "FlareEngine"]
	path = FlareEngine
	url = https://github.com/rGovers/FlareEngine.git
[submodule "FlareEditor/lib/imgui"]
	path = FlareEditor/lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "FlareEditor/lib/implot"]
	path = FlareEditor/lib/implot
	url = https://github.com/epezent/implot.git
